#page {
  height: 100vh;
  width: 100vw;
  min-width: 45rem !important;
  display: flex;
  flex-direction: column;
}

/* Nav */
#nav-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-light);
  padding: 1.5rem 2rem;
}
#nav-bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--strong-font);
  font-size: 1.3rem;
}
#nav-bar button {
  background-color: transparent;
  cursor: pointer;
}
#nav-bar button .icon {
  transition: filter 0.15s;
  font-size: 1.3rem;
  padding: 0.3rem 1.5rem;
}
#nav-bar button:hover .icon,
#nav-bar button:disabled .icon {
  filter: brightness(50%);
}

/* Content */
#content {
  display: flex;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Tool bar */
#content #tool-bar {
  padding: 1rem;
  background-color: var(--bg-color-extralight);
}
#content #tool-bar .row {
  display: flex;
}
#content #tool-bar li {
  margin: 0.25rem;
  border: none !important;

  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.15s, filter 0.15s;
}

#content #tool-bar li.selected {
  background-color: var(--bg-color-light);
  filter: none !important;
}
#content #tool-bar li:hover {
  filter: brightness(50%);
}
#content #tool-bar li img {
  width: 3rem;
}

/* Control bar */
#content #controller-bar {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 4.85rem);
  background-color: var(--bg-color-extralight);
  width: 25rem;
}
#content #controller-bar label {
  display: block;
  text-align: center;
  padding: 0.8rem 2rem;
  font-family: var(--simple-font);
  font-size: 2rem;
  background-color: #242530;
}
/* Layer list */
#content #controller-bar #layers {
  height: 100%;
  max-height: 50%;
  display: flex;
  flex-direction: column;
}
#content #controller-bar #layer-list {
  overflow-y: auto;
  flex: 1;
}
#content #controller-bar #layer-list li {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0.7rem 1rem;
  background-color: var(--bg-color-light);
  margin: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  border: 2px solid transparent;
}
#content #controller-bar #layer-list li.selected {
  border-color: white;
}
#content #controller-bar #layer-list li span {
  opacity: 0.8;
}
#content #controller-bar #layer-list li button {
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}
#content .controller-section-footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: var(--bg-color-light);
}
#content .controller-section-footer button {
  background-color: transparent;
  margin: 0.8rem;
  cursor: pointer;
}
#content .controller-section-footer button .icon {
  font-size: 1.1rem;
}
/* Color list */
#content #controller-bar #colors {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 50%;
  overflow-y: auto;
}
#content #controller-bar #color-list {
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 13.5rem;
  overflow-y: auto;
  flex: 1;
}
#content #controller-bar #color-list::after {
  content: "";
  flex: auto;
}
#content #controller-bar #color-list li {
  width: 3rem;
  height: 3rem;
  margin: 0.3rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: 2px solid transparent;
}
#content #controller-bar #color-list li.selected {
  border-color: white;
}
/* Input color */
#content #controller-bar #color-input {
  opacity: 0;
  position: absolute;
  left: -14rem;
}

/* Display */
#content #display {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
}
#content #display #canvas-container {
  position: relative;
  user-select: none;
}
#content #display #canvas-container #position {
  position: absolute;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
}
/* Canvas */
#content #display canvas {
  background-color: white;
}
